<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
	<title>Welcome to TSM!</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<link href = "resources/eml.css" rel = "stylesheet"  type = "text/css"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="icon" href="resources/favicon.jpg"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		
	<script type = "text/javascript" src = "resources/controller.js"></script>
	
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </head>
  <body ng-app = "sm" ng-controller="smCtrl"> 
		
	<!-- Good header for the landing page.--> 
	<header> 
	  <div class = "jumbotron"> 
	  	<div class = "source">
	  		<h3><font size="2"><a href = https://github.com/faroos3/hackrpi_2016 target = "_blank"><u>Click here to get the source code!</u></a></font></h3>
	  	</div>
	    <div class = "container"> 
		  <h3 ng-show='pageIndex == 1'>Upload a file!</h3> 
		  <h3 ng-show='pageIndex == 2'>Please wait...</h3>
		  <h3 ng-show='pageIndex == 3'>Results!</h3>
		</div> 
	  </div> 
	</header> 
	
	
	<div class = "entry-form col-md-4 col-md-offset-4" ng-show='pageIndex == 1'> 
            <div class="form-group">
                <label for="myFile">Choose a file...</label>
		<input type="file" name="myFile" id="myFile" class="form-control-file" ng-model="file" onchange="angular.element(this).scope().fileChanged()" />
            </div>
            <div class="form-group">
                <label>Choose an Algorithm</label>
		<select class="form-control" ng-model="algoChoice" ng-change="aChoiceChanged()">
			<option ng-repeat="Object in algorithms" ng-value="Object.name"> {{Object.name}} </option>
		</select>
                <div ng-show="optionalArgs.length>0"><hr>Optional Parameters:</div>
                <div class="form-group" ng-repeat="arg in optionalArgs">
                    <label>{{arg.name}}</label>
                    <input type="text" class="form-control" ng-model="optionalValues[arg.name]"  placeholder="{{arg.default_value}}">
                </div>
            </div>
		<button class="btn btn-primary btn-block" ng-click="train()">Train</button> 
	</div>
	
	<div class = "icon_place" ng-show='pageIndex == 2'> 
	  <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
	</div> 
	
	<div class = "information" ng-show='pageIndex == 3'> 
		<div class="container">
			<div class="row">
	  			<div class="col-xs-7" style="height:75px">Result Data: {{resultData}}<br><br><b>Error: {{resultError}}<b></div>
  				<div class="col-xs-6"><img data-ng-src="{{resultImage}}"/></div>
			</div>
		</div>
		<ul id = "stats"></ul><!-- put list items here from a js func or angular func -->
	</div> 
	
	
	  <!-- Latest compiled and minified JavaScript -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body> 
  </html> 
