<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
	<title>Welcome to TSM!</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<link href = "resources/eml.css" rel = "stylesheet"  type = "text/css"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="icon" href="resources/favicon.jpg"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		
	<script type = "text/javascript" src = "resources/controller.js"></script>
	
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </head>
  <body ng-app = "sm" ng-controller="smCtrl"> 
		
	<!-- Good header for the landing page.--> 
	<header> 
	  <div class = "jumbotron"> 
	    <div class = "container"> 
		  <h3 ng-show='pageIndex == 1'>Upload a file!</h3> 
		  <h3 ng-show='pageIndex == 2'>Please wait...</h3>
		  <h3 ng-show='pageIndex == 3'>Results!</h3>
		</div> 
	  </div> 
	</header> 
	
	
	<div class = "input_field" ng-show='pageIndex == 1'> 
		<input type="file" name="myFile" id="myFile" class="inputfile" ng-model="file" onchange="angular.element(this).scope().fileChanged()" />
		<label for="myFile">Choose a file...</label>
		<select ng-model="algoChoice">
			<option ng-repeat="Object in algorithms" ng-value="Object.name"> {{Object.name}} </option>

		</select>
		<button ng-click="train()">Train</button> 
	</div>
	
	<div class = "icon_place" ng-show='pageIndex == 2'> 
	  <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
	</div> 
	
	<div class = "information" ng-show='pageIndex == 3'> 
		<p class = "info_header"><u>Information</u></p>
		<ul id = "stats"></ul><!-- put list items here from a js func or angular func -->
	</div> 
	
	
	
	<!-- Good footer for the landing page.--> 
	<footer> 
	<div class = "footer navbar-fixed-bottom"> 
	  <div class = "jumbotron" style = "margin-bottom: 0px;"> 
	    <div class = "container"> 
		  <h3><a href = https://github.com/faroos3/hackrpi_2016 target = "_blank"><u>Click here to get the source code!</u></a></h3>  
		</div> 
	  </div>
	  </div>
	</footer> 
	  <!-- Latest compiled and minified JavaScript -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body> 
  </html> 
